/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
@media (max-width: 1253px) {
  .container {
    padding: 0 3rem;
  }
  .hero-main-heading {
    margin-bottom: 6rem;
  }
}

@media (max-width: 1125px) {
  .z-features-section-div {
    row-gap: 4rem;
    column-gap: 1rem;
  }
  .z-img-1,
  .z-img-2,
  .z-img-3,
  .z-img-4 {
    padding: 1.5rem;
  }

  .image-detail {
    padding: 1.5rem;
  }

  .moving-images-div {
    padding: 8rem 10rem 5rem 10rem;
  }

  .support-team-img {
    max-width: 40rem;
  }
  .intergerated-companies-cards {
    justify-content: space-between;
  }
  .intergerated-companies-cards > * {
    flex-basis: calc(50% - 0.5rem); /* Two items per row with gap */
  }
}

@media (max-width: 977px) {
  /* mobile navbar css code start */
  .section-header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
  }
  .nav-list{
    display: none;
  }
  .login-btn-section{
    display: none;
  }
  .responsive-hamburger{
    display: block;
  }
  /* mobile navbar css code end */

  .homepage-main-img {
    max-width: 35rem;
  }
  .hero-section-div {
    margin-top: 10rem;
  }
  .hero-main-heading {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 4rem;
  }

  .customer-section-div {
    flex-direction: column;
    gap: 2rem;
  }
  .sub-headings {
    margin-top: 5rem;
    max-width: 90rem;
  }
  .grid-2-cols {
    grid-template-columns: 1fr;
  }
  .z-features-section-div {
    row-gap: 2rem;
  }
  .z-img-2 {
    grid-row: 3/4;
  }
  .z-img-4 {
    grid-row: 7/8;
  }
  .image-detail {
    text-align: center;
  }
  .customer-review {
    gap: 0.4rem;
  }

  .ul-section-access {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .growth-div {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
  .moving-images-div {
    padding: 6rem 7rem 4rem 7rem;
  }
  .team-intro-main-div {
    flex-direction: column;
  }

  .support-team-img {
    max-width: 70rem;
  }

  .support-team-desc-div {
    max-width: 60rem;
  }

  .location-copyrights {
    flex-direction: column;
    gap: 2rem;
  }
  .logo-and-footerlist {
    display: flex;
    /* border: 1px solid blue; */
    flex-direction: column;
    align-items: start;
  }
  .li-hiring {
    display: block;
    margin-top: 0.2rem;
    margin-left: 2rem;
  }
}

@media (max-width: 657px){
  .hero-section-div {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }
  .main-heading-desc{
    align-items: center;
    text-align: center;
    order: 2;
  }
  .main-img{
    order: 1;
  }
  .main-img{
    order: 1;
  }
  .customer-img {
    width: 25rem;
    opacity: 0;
  }
  .moving-images-div{
    padding: 3.4rem 5rem 3.4rem 5rem;
    gap: 0rem;

  }
  .support-team-img {
    max-width: 100%;
}
.desc-btns {
  width: 100%;
 
}
.h2-section-auth-trial{
  width: 100%;
}
.growth-head-desc {
  width: 100%;
  /* text-align: center; */
}

}
