/* ----------------------------- */
/* Header section  */
/* --------------------------------- */

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem 1.3rem 2.5rem;
  border-bottom: 0.1rem solid #dee2e6;
}
/* .logo {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 2rem;
} */

.header-logo-navlist {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.4rem;
  gap: 1.2rem;
}

.navlist-lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #8483a0;
}

.icon-downword {
  display: flex;
  width: 1rem;
  cursor: pointer;
}

.login-btn-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
  font-size: 1.4rem;
}

.gobal-lang-icon {
  display: flex;
  justify-content: space-between;
  width: 3rem;
}

.globe-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

/* ----------------------------- */
/* Menus Options Sections  */
/* --------------------------------- */

.overview-menu-options {
  max-width: 100%;
  gap: 5rem;
}
.list-options-div {
  justify-content: center;
}

.mobile-menu-ui {
  background-color: #f1f5f9;
}
.mobile-menu-1st-div {
  justify-content: center;
}

.mobile-menu-img {
  max-width: 20rem;
}

.display {
  display: none;
}
