/* ----------------------------- */
/* Header section  */
/* --------------------------------- */

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem 1.5rem 3rem;
  border-bottom: 0.1rem solid #d2c5c5;
}
/* .logo {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 2rem;
} */

.header-logo-navlist {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.4rem;
  gap: 1.2rem;
}

.navlist-lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #8483a0;
}

.icon-downword {
  display: flex;
  width: 1rem;
  cursor: pointer;
}

.login-btn-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
  font-size: 1.4rem;
}

.gobal-lang-icon {
  display: flex;
  justify-content: space-between;
  width: 3rem;
}

.globe-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
